/nbproject/private/
/sysadmin/vistas/db.php
/sysadmin/vistas/xml/firmas
/sysadmin/vistas/xml/comprobantes
/sysadmin/vistas/assets/js/lib_firma_sri/errores
/sysadmin/vistas/assets/js/lib_firma_sri
/sysadmin/img/
/uploads/
/nbproject/
/sysadmin/vistas/assets/comprobantes/autorizados/
/sysadmin/vistas/ajax/landing_producto/
sysadmin/vistas/db.php
sysadmin/vistas/db_destino_marketplace.php
/sysadmin/vistas/db_destino_marketplace.php
sysadmin/vistas/xml/firmas
sysadmin/vistas/xml/comprobantes
testeos/
guias/
sysadmin/vistas/assets/js/lib_firma_sri/errores
sysadmin/vistas/assets/js/lib_firma_sri
update.sh
