/nbproject/private/
/sysadmin/vistas/db.php
/sysadmin/img/
/uploads/
/nbproject/
/sysadmin/vistas/assets/comprobantes/autorizados/
/sysadmin/vistas/ajax/landing_producto/
sysadmin/vistas/db.php
testeos/*
sysadmin/vistas/db_destino.php
